.chore-completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.6;
}

.undo-button {
  font-size: 0.875rem;
  background-color: gray;
  border-radius: 0.25rem;
}

.undo-button:hover {
  background-color: #d1d5db;
}

.late-chore {
  background-color: #ffe6e6;
  border: 1px solid #ff4d4d;
  color: #b30000;
  font-weight: bold;
}
